@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
*{
    margin: 0 auto;
}
.body{
    max-width: 1899px;
}
a{
    text-decoration: none;
    color: white;
}

.header{
    padding: 20px;
    width: auto;
    height: 40px;
    background-color: black;
    display: flex;
}
.header1{
    position: relative;
    width: 1400px;
    height: 36px;
    display: flex;
}
.logo{
    margin-left: 0;
    margin-right: 0px;
    width: 40px;
    height: 40px;
}
.logoimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logo-title{
    color: white;
    font-family: 'Trade Winds', cursive;
    margin-left: 5px;
    margin-right: 0px;
    font-size: 24px;
    margin-top: 5px;
}
.logo-title-text{
    width: 140px;
    height: 35px;
}
.links{
    display: flex;
    color: white;
    font-family: 'roboto', helvetica, sans-serif;
    margin-right: 5px;
}
.home{
    padding: 5px;
}
.products{
    padding: 5px;
}
.about{
    padding: 5px;
}
.login{
    font-family: 'roboto', helvetica, sans-serif;
    color: white;
    margin-left: 0px;
    margin-right: 10px;
    padding: 5px;
}

.footer{
    background-color: #ECECF2;
    margin-top: 100px;
    bottom: 0;
}
.footer-p{
    font-family:'Times New Roman', Times, serif; 
    font-size: 18px; 
    color: #6581A1; 
    margin-left: 40px
}
.social{
    display: flex;
    justify-content: flex-end;
}
.social__icon{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 50%;
    box-shadow: 0 0 5px #00000080;
    transition: all 0.3s ease;
    position: relative;
    overflow:hidden;
}
.social__icon i{
    font-size: 26px;
    color: #67798e;
    transition: all 0.3s ease;
    z-index: 1;}
.social__icon::after{
    content: "";
    width: 70px;
    height: 70px;
    position:absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social__icon.instagram:after{
    background-color: #833AB4;
}
.social__icon.facebook:after{
    background-color: #3b5998;
}
.social__icon.git:after{
    background-color: #333;
}
.social__icon.twitter:after{
    background-color: #00acee;
}
.social__icon.linkedin:after{
    background-color: #0e76a8;
}
.social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px #00000080;
}
.social__icon:hover i{
    color: #fff;
}
.social__icon:hover:after{
    transform: translate(0);
}
.end{
    font-size: 18px;
    color: #6581A1;
}
.qw{
    display: flex;
    justify-content: space-around;
}
.story_chast{
    width: 100%;
    display: flex;
    margin: 30px auto;
    align-items: center;
    margin: 10px 20vh;
}
.text, .img-container{
    z-index: -10000;
    padding: 1em;
    height: 50%;
}


.img-container {
    margin: 40vh 0 0 20vw;
    transform: translate(-50%, -50%);
    animation: animate .7s infinite ease-in-out;
}
.img-container img{
    width: 500px;
    height: 400px;
}

.img-container .main-img {
    width: 350px;
}

@media(max-width: 800px) {
    .img-container {
        margin: 40vh 0 0 9vw;
        transform: translate(-50%, -50%);
        animation: animate .7s infinite ease-in-out;
    }
    .img-container img{
        width: 350px;
        height: 400px;
    }
    
}

@keyframes animate {
    50% {
        transform: translate(-50%, -48%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
.text{
    width: 80vh;
    margin: 0;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Alkalami', serif;
    font-family: 'Roboto', sans-serif;
}



#zagalovok{ 
    width: 100%;
    width: 70vh;
    font-size: 70px;
    margin-left: 0;
    padding: 20px 0 0 0 ;
    color: rgb(4, 4, 91);
}
#history{
    margin: 30px 0;
    width: 100%;
    width: 60vh;
    font-size: 21px;
    word-spacing: 5px;
    color: rgb(5, 5, 30);
    opacity: 0.8;
}
#explore_button{
    border: 1px solid  rgb(4, 4, 91);
    width: 28vh;
    height: 8vh;
    color: white;
    text-align: center;
    background-color:  rgb(4, 4, 91);
    padding: 20px 0 0 0;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
}
#ed{
    color: white;
}

.image_text{
    width: 100%;
   
}
.image_text img{
    width: 100%;
    margin: 20px auto;
    object-fit: contain;
}
.history_story{
    width: 100%;
    
    background-image: url("https://static.wixstatic.com/media/4a879f_a60314f65db5472eb0cec4d5d8aaece3~mv2.png/v1/fill/w_624,h_538,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Q-Faded6.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.history_story p{
   width: 150vh;
   font-size: 21px;
   margin: 0 auto;
   color: rgb(107, 101, 124);
   font-family: 'Abyssinica SIL', serif;
   font-family: 'Alkalami', serif;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   padding-top: 50px;
}



.discount{
    display: flex;
    width: 180vh;
    margin: 20vh auto;
    border: 1px solid rgb(70, 70, 133, 0.2);
    background-color: rgb(168, 161, 161, 0.2);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.discount p{
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(40, 40, 151);
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Alkalami', serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


#form label{
    font-size: 17px;
    opacity: 0.9;
    font-family: 'Lucida Sans', sans-serif;
}
.check, #email, #button{
    border-radius: 5px;
    border-color: rgb(70, 70, 133, 0.5);  
}
#email{
    height: 4vh;
    width: 35vh;
    margin-right: 20px;
}
#button{
    width: 25vh;
    height: 6vh;
    background-color:  rgb(70, 70, 133);
    color: white;
}

#d_image{
    width: 50vh;
    height: 100%;
}
#d_text{
    width: 85vh;
    height: 100%;
}




.faqs{
    font-family: 'Roboto', sans-serif;
    max-width: 80vh;
    margin: 0 auto;
    
}
.questions{
    margin-left: -20vh;
}
.faqs h2{
    padding: 4px 32px;
    font-size: 30px;
    color: rgb(4, 4, 91);
    font-weight: bold;
    justify-content: center;
    margin: 10vh auto;
    text-align: center;
    align-items: center;
}
.faqs .faq-header{
    display: flex;
    color: grey;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.faqs .faq-header .open,
.faqs .faq-header .close{
    position: absolute;
    left: 0;
    padding: 0 10px;
    font-size: 22px;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}

.faqs .faq-header .open.active,
.faqs .faq-header .close.active{
    opacity: 1;
    transform: translateY(0);
}
.faqs .faq-header h3{
    font-size: 20px;
    padding: 0 32px;
}

.faqs .content{
    padding: 0 32px;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}
.faqs .content.active{
    max-height: 600px;
}

  h1 {
    font-weight: 200;
    margin: 4em auto;
    justify-content: center;
    text-align: center;
  }
  h1 { 
    font-size: 3.5em; 
}

.footer {
    margin-top: 25%;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
@media (max-width: 401px) {
    
    .story_chast{
        display: block;
        margin: 0;
        padding: 0;
    }
    .img-container{
        position: relative;
        width: 45vw;
    }
    .img-container img{
        width: 380px;
        height: 300px;
        margin: 0 auto;
    }
    #zagalovok{
        font-size: 35px;
        width: 380px;
        padding: 0;
    }
   
    #history{
        font-size: 18px;
    }
    #explore_button{
     width: 100px; 
     height: 10px;
     font-size: 12px;
     padding: 10px 2px 15px 2px;
    }
    .image_text{
        margin: -20vh 0 0 -10px;
        width: 400px;
    }
    .image_text img{
        margin: 0 auto;
        width: 380px;
        object-fit: contain;
    }
    .history_story{
        width: 380px;
    }
    .history_story p{
        font-size: 18px;
        width: 380px;
    }
    h1{
        font-size: 2rem;
        width: 380px;
    }
    .discount{
        width: 380px;
    }
    #d_image img{
        width: 180px;
        height: 160px;
    }
    #d_text p{
        font-size: 12px;
        padding-left: 8px;
    }
    form{
        padding-left: 8px;
    }
    #emailAddress{
        width: 120px;
        height: 18px;
    }
    #button{
        width: 50px;
        font-size: 10px;
    }
    .faqs{
        width: 200px;
        font-size: 8px;
    }
    .faq-header h3{
        font-size: 8px;
    }
}
@media (min-width: 800px) {
    *{margin: 0;}
    .story_chast{
        margin: 0;
        width: 750px;
    }
    #zagalovok{
        font-size: 3rem;
    }
    .img-container img{
        width: 350px;
        height: 350px;
    }
    #explore_button{
        font-size: 16px;
    }
    .image_text{
        width: 100%;
        margin: 0 auto;
    }
    .image_text{
        margin: 0 auto;
    }
    .discount{
        width: 650px;
        height: 150px;
    }
    #d_image img{
        width: 100%;
        height: 100%;
    }
    #d_text{
        margin: 20px;
        padding-top: 40px;
    }
    #d_text p{
        font-size: 20px;
    }
}
@media(max-width:800px){
    .header{
        max-width: 800px;
    }
    .header1{
        width:700px
    }
    .background{
        width: 800px;
    }
    .title{
        margin-left: 100px;
        width: 700px ;
    }
    .minititle{
        margin-left: 100px;
    }
    .buy{
        margin-left: 100px;
    }
    .products1{
        width: 800px;
    }
    .product1{
        width: 180px;
    }
    .product2{
        width: 180px;
    }
    .product3{
        width: 180px;
    }
    .product4{
        width: 180px;
    }
    .imgproduct{
        width: 125px;
        height: 105px;
    }
    .rectext{
        margin-left: 100px;
    }
    .footer{
        width: 800px;
    }
    .social__icon{
        width: 30px;
        height: 30px;
    }
    .products1{
        padding-left: 50px;
    }
    .login{
        margin-right: 0px;
    }
    .header1{
        margin-top: -20px;
    }
    .logo-title-text{
        font-size: 14px
        
    }
    .logo-title{
        display: flex;
        width: 100px;

    }
}
@media(max-width:400px){
    .background{
        max-width: 400px;
    }
    .header{
        max-width: 400px;
    }
    .header1{
        width: 380px;
    }
    .title{
        margin-left: 20px;
        width: 380px;
    }
    .minititle{
        margin-left: 20px;
    }
    .buy{
        margin-left: 20px;
    }
    .onas{
        margin-top: -20px;
    }
    .rec{
        display: none;
    }
    .logoimg{
        display: none;
    }
    #toggle:checked + .menu{
        display: none; 
      }
  .menu {
      align-items: center;
    }
    .list{
      background-color: #00000080;
      left: 0;
      top: 25px;
      align-items: center;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .footer{
        width: 400px;
    }
    .social__icon{
        width: 30px;
        height: 30px;
    }
    
    #toggle:checked + .header{
      max-height: 280px;
    }
    .navb{
      margin-right: 0px;
      }
      .tri {
        float: right;
        font-size: 25px;
        cursor: pointer;
      }
      .aboutus{
        margin-left: 0px;
      }
      .bi-person-fill{
        margin-right: 0px;
      }
      .end{
        display: none;
      }

}
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.list{
    display: flex;
    
}
#toggler, header label{
    display: none;
}
@media(max-width:700px) {
    
}
   #toggle{
        display:none;
        }
   .navb{
    display: block  ;
   }



