* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.camry {
    width: 180px;
    margin-left: 20px;
}

.basket, .close {
    width: 25px;
    padding: 2px;
    float: right;
}

.bari {
    width: 900px;
    display: grid;
    grid-template-columns: 260px 260px;
    column-gap: 30px;
    row-gap: 30px;
    margin: 250px;
  
}

.osnova {
    border: 1px solid black;
}

.p-name {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 0;
    
}

.price {
    font-weight: 600;
}

.price, .number {
    line-height: 0;
    font-size: 17px;
    float: left;
    width: 50%;
}

.number {
    text-align: right;
}
