@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*{
  margin: 0 auto;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ff3e3e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #f96d6d;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #fd0000;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #000000;
}
body {  
  width: auto;
  height: auto;
  
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.img{
  width: 1899px;
  height: 890px;
  position: absolute;
  z-index: -1;
  margin-top: 90px;
}
*{
  margin: 0 auto;
}
.header{
  padding: 10px;
  width: auto;
  height: 70px;
  background-color: black;
  display: flex;
}
.header1{
  position: relative;
  width: 1400px;
  height: 36px;
  display: flex;
  padding: 10px;
}
.logo{
  padding-top: 0px;
  margin-left: 0;
  margin-right: 0px;
  width: 40px;
  height: 40px;
}
.logoimg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}
.logo-title{
  color: white;
  font-family: 'Trade Winds', cursive;
  margin-left: 5px;
  margin-right: 0px;
  font-size: 24px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.logo-title-text{
  width: 140px;
  height: 35px;
}
.aboutus{
  padding-bottom: 10px;
}
.bi .bi-person-fill{
  margin-top: 10px;
}
.links{
  display: flex;
  color: white;
  font-family: 'roboto', helvetica, sans-serif;
  margin-right: 5px;
  padding-top: 5px;
}
.home{
  padding: 5px;
}
.products{
  padding: 5px;
}
.about{
  padding: 5px;
}
.login{
  font-family: 'roboto', helvetica, sans-serif;
  color: white;
  margin-left: 0px;
  margin-right: 50px;
  padding: 5px;
  padding-top: 5px;
  display: flex;
}
.loginlink{
  color: white;
  text-decoration: none;
}
.aboutus{
  padding-top: 5px;
}
@media(max-width:800px){
  .header{
      max-width: 800px;
  }
  .header1{
      width:700px
  }
  .background{
      width: 800px;
  }
  .title{
      margin-left: 100px;
      width: 700px ;
  }
  .minititle{
      margin-left: 100px;
  }
  .buy{
      margin-left: 100px;
  }
  .products1{
      width: 800px;
  }
  .product1{
      width: 180px;
  }
  .product2{
      width: 180px;
  }
  .product3{
      width: 180px;
  }
  .product4{
      width: 180px;
  }
  .imgproduct{
      width: 125px;
      height: 105px;
  }
  .rectext{
      margin-left: 100px;
  }
  .footer{
      width: 800px;
  }
  .social__icon{
      width: 30px;
      height: 30px;
  }
  .products1{
      padding-left: 50px;
  }
  .login{
      margin-right: 0px;
  }
  .header1{
      margin-top: -20px;
  }
  .logo-title-text{
      font-size: 14px
      
  }
  .logo-title{
      display: flex;
      width: 100px;

  }
}
@media(max-width:400px){
  .background{
      max-width: 400px;
  }
  .header{
      max-width: 400px;
  }
  .header1{
      width: 380px;
  }
  .title{
      margin-left: 20px;
      width: 380px;
  }
  .minititle{
      margin-left: 20px;
  }
  .buy{
      margin-left: 20px;
  }
  .onas{
      margin-top: -20px;
  }
  .rec{
      display: none;
  }
  .logoimg{
      display: none;
  }
  #toggle:checked + .menu{
      display: none; 
    }
.menu {
    align-items: center;
    margin-right: 0px;
  }
  .list{
    background-color: #00000080;
    left: 0;
    top: 25px;
    align-items: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer{
      width: 400px;
  }
  .social__icon{
      width: 30px;
      height: 30px;
  }
  
  #toggle:checked + .header{
    max-height: 280px;
  }
  .navb{
    margin-right: 0px;
    }
    .tri {
      float: right;
      font-size: 25px;
      cursor: pointer;
    }
    .aboutus{
      margin-left: 0px;
    }
    .bi-person-fill{
      margin-right: 0px;
    }
    .end{
      display: none;
    }

}
.header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.list{
  display: flex;
  
}
#toggler, header label{
  display: none;
}
@media(max-width:700px) {
  
}
 #toggle{
      display:none;
      }
 .navb{
  display: block  ;
 }