*{
    margin: 0 auto;
}
.topfooter{
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;
    right: 0px;

    background: #FFFFFF;
}
.yumi{
    color: red;
}
.logotext{
    position: absolute;
    width: 178px;
    height: 38px;
    left: 120px;
    top: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
.home-btn{
    background-color: white;
    margin: 0;
    width: auto;
    border-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
.news-btn{
    background-color: white;
    margin: 0;
    width: auto;
    border-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

color: #000000;
}
.about-btn{
    background-color: white;
    margin: 0;
    width: auto;
    border-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
}
.shop-btn{
    background-color: white;
    margin: 0;
    width: auto;
    border-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
.blog-btn{
    background-color: white;
    margin: 0;
    width: auto;
    border-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
.topfooter-btns{
    position: absolute;
    width: auto;
    height: 23px;
    left: 588px;
    top: 38px;
    margin: 0px auto;
}
.icon-man{
    position: absolute;
    width: 25.26px;
    height: 29px;
    left: 1245px;
    top: 35px;

}
.icon-basket{
    position: absolute;
    width: 25.26px;
    height: 29px;
    left: 1280px;
    top: 35px;
}
.allcontent{
   width: 1440px; 
   height: auto;
   background-color: #dadada;
}
.titletext{
    display: flex;
}
.titlehead{
    position: absolute;
    width: 557px;
    height: 212px;
    left: 361px;
    top: 173px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;

    color: #121212;
}
.minititle{
    position: absolute;
    width: 330px;
    height: 23px;
    left: 360px;
    top: 421px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #838383;

}
.browsebtn{
    background-color: red;
    border-radius: 5px;
    position: absolute;
    width: 103px;
    height: 40px;
    left: 361px;
    top: 490px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
}
.products{
    display: flex;
}
