@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
*{
    margin: 0 auto;
}
.header{
    padding: 20px;
    width: auto;
    height: 40px;
    background-color: black;
    display: flex;
}
.header1{
    position: relative;
    width: 1400px;
    height: 36px;
    display: flex;
}
.logo{
    margin-left: 0;
    margin-right: 0px;
    width: 40px;
    height: 40px;
}
.logoimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logo-title{
    color: white;
    font-family: 'Trade Winds', cursive;
    margin-left: 5px;
    margin-right: 0px;
    font-size: 24px;
    margin-top: 5px;
}
.logo-title-text{
    width: 140px;
    height: 35px;
}
.links{
    display: flex;
    color: white;
    font-family: 'roboto', helvetica, sans-serif;
    margin-right: 5px;
}
.home{
    padding: 5px;
}
.products{
    padding: 5px;
}
.about{
    padding: 5px;
}
.login{
    font-family: 'roboto', helvetica, sans-serif;
    color: white;
    margin-left: 0px;
    margin-right: 50px;
    padding: 5px;
}
.all-content{
    width: 1920px;
    height: 600px;
}
.title{
    color: white;
    font-family: 'Trattatello, fantasy'; 
    z-index: 0;
    margin-top: -400px;
    margin-left: 250px;
    font-size: 56px; 
}
.minititle{
    color: white;
    font-family: 'roboto', helvetica, sans-serif; 
    z-index: 0;
    margin-top: 200px;
    margin-left: 250px;
    font-size: 24px; 
}
.background{
    width: 1899px;
    margin-top: 0px;
    z-index: -1;
    height: 600px;
    position: 0px -366.257px;
}
.buy{
    background-color: white;
    border-radius: 10px;
    width: 112px;
    height: 40px;
    z-index: 1;
    border: 0;
    margin-left: 250px;
    font-family: 'cabin', sans-serif;
    font-size: 20px;
}
.rec{
    background-color: black;
    width: auto;
    height: 400px;
    
}
.rectext{
    color: white;
    font-size: 36px;
    margin-left: 250px;
    padding-top: 0px;
    margin-top: -20px;
}
.products1{
    width: 1400px;
    display: flex;
    color: white;
}
.product1{
    width: 350px;
}
.product2{
    width: 350px;
}
.product3{
    width: 350px;
}
.product4{
    width: 350px;
}
.imgproduct{
    padding-left: 24px;
    margin: auto    ;
    width: 300px;
    height: 250px;
}
.textproduct{
    padding-left: 24px;
    font-size: 18px;
}
.onas{
    color: white;
    background-color: black;
    width: auto;
    height: 300px;
    text-align: center;
}
.textonas{
    color: white;
    font-size: 36px;
    text-align: center;
}
.minitextonas{
    color: white;
    font-size: 20px;
    text-align: center;
}
.email{
    background-color: rgb(82, 81, 81);
    width: 250px;
    height: 25px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
}
.submit{
    padding-left: 10px;
    background-color: black;
    color: white;
    font-size: 25px;
}
.footer{
    padding-top: 20px;
    width: auto;
    height: 80px;
    background-color: #ECECF2;

    
  }
.footer-p{
    font-family:'Times New Roman', Times, serif; 
    font-size: 18px; 
    color: #6581A1; 
    margin-left: 40px
}
.social{
    display: flex;
    justify-content: flex-end;
}
.social__icon{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 50%;
    box-shadow: 0 0 5px #00000080;
    transition: all 0.3s ease;
    position: relative;
    overflow:hidden;
}
.social__icon i{
    font-size: 26px;
    color: #67798e;
    transition: all 0.3s ease;
    z-index: 1;}
.social__icon::after{
    content: "";
    width: 70px;
    height: 70px;
    position:absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social__icon.instagram:after{
    background-color: #833AB4;
}
.social__icon.facebook:after{
    background-color: #3b5998;
}
.social__icon.git:after{
    background-color: #333;
}
.social__icon.twitter:after{
    background-color: #00acee;
}
.social__icon.linkedin:after{
    background-color: #0e76a8;
}
.social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px #00000080;
}
.social__icon:hover i{
    color: #fff;
}
.social__icon:hover:after{
    transform: translate(0);
}
.end{
    font-size: 18px;
    color: #6581A1;
}
.qw{
    display: flex;
    justify-content: space-around;
}
.loginlink{
    text-decoration: none;
    color: white;
}
