@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
*{
    margin: 0 auto;
}
.body{
    max-width: 1899px;
}
a{
    text-decoration: none;
    color: white;
}

.header{
    padding: 20px;
    width: auto;
    height: 40px;
    background-color: black;
    display: flex;
}
.header1{
    position: relative;
    width: 1400px;
    height: 36px;
    display: flex;
}
.logo{
    margin-left: 0;
    margin-right: 0px;
    width: 40px;
    height: 40px;
}
.logoimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logo-title{
    color: white;
    font-family: 'Trade Winds', cursive;
    margin-left: 5px;
    margin-right: 0px;
    font-size: 24px;
    margin-top: 5px;
}
.logo-title-text{
    width: 140px;
    height: 35px;
}
.links{
    display: flex;
    color: white;
    font-family: 'roboto', helvetica, sans-serif;
    margin-right: 5px;
}
.home{
    padding: 5px;
}
.products{
    padding: 5px;
}
.about{
    padding: 5px;
}
.login{
    font-family: 'roboto', helvetica, sans-serif;
    color: white;
    margin-left: 0px;
    margin-right: 10px;
    padding: 5px;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    margin: 40px 80px;
}
#product1{
    text-align: center;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px ;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0 , 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position:relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0 , 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0 ;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top:7px ;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .des #cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.iconbasket{
    color: white;
    margin: 0;
    padding-top: 7px;
}
.footer{
    background-color: #ECECF2;
    margin-top: 100px;
    bottom: 0;
}
.footer-p{
    font-family:'Times New Roman', Times, serif; 
    font-size: 18px; 
    color: #6581A1; 
    margin-left: 40px
}
.social{
    display: flex;
    justify-content: flex-end;
}
.social__icon{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 50%;
    box-shadow: 0 0 5px #00000080;
    transition: all 0.3s ease;
    position: relative;
    overflow:hidden;
}
.social__icon i{
    font-size: 26px;
    color: #67798e;
    transition: all 0.3s ease;
    z-index: 1;}
.social__icon::after{
    content: "";
    width: 70px;
    height: 70px;
    position:absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social__icon.instagram:after{
    background-color: #833AB4;
}
.social__icon.facebook:after{
    background-color: #3b5998;
}
.social__icon.git:after{
    background-color: #333;
}
.social__icon.twitter:after{
    background-color: #00acee;
}
.social__icon.linkedin:after{
    background-color: #0e76a8;
}
.social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px #00000080;
}
.social__icon:hover i{
    color: #fff;
}
.social__icon:hover:after{
    transform: translate(0);
}
.end{
    font-size: 18px;
    color: #6581A1;
}
.qw{
    display: flex;
    justify-content: space-around;
}
#cart table{
    width: 100%;
    border-collapse:collapse ;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size:13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top:15px;
    
}
#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cart-add #coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom:15px ;
}
#coupon input{
    padding: 10px 20px ;
    outline: none;
    width: 60%;
    margin-right:10px ;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    background-color: red;
    color: white;
    padding: 12px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1pz solid #e2e9e1; 
    padding: 30 px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom:20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
#cart{
    overflow-x: auto;
}
@media(max-width:477px){
    .section-p1{
        padding: 20px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #cart-add{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }
}
/* Details page */
#details-page{
    background: rgba(128, 128, 128, 0.356);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    transition: all 0.3s ease-in-out;
}
.details{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-detail{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    background: url('https://uconceptua.com/wp-content/uploads/2019/12/0000452_wallpaper-hexagon.jpeg');
    width: 60vw;
    height: 70vh;

}
.image-container{
    width: 23%;
    height: 37%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px ;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0 , 0.02);
    transition: 0.2s ease;
    position:relative;
}
.image-container:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0 , 0.06);
}
#details-img{
    width: 15rem;
    height: 15rem;
}
#main{
    margin-top: 5rem;
}

#detail-title{
    margin-top: 1rem;
    color: teal;
    font-size: 2.5rem;
}
#detail-price{
    margin-top: 1.5rem;
    color: rgb(199, 110, 110);
    font-size: 1.5rem;
}
#you-save{
    font-size: 1.2rem;
    
    color: rgb(106, 146, 161);
}
#delievery{
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
#spec{
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.items-detail  ul li{
    position: relative;
    margin: 0.5rem 0;
    font-family: sans-serif;
    list-style-position: inside;
}
.items-detail button{
    font-size: 1.5rem;
    padding: 0.3rem;
    text-align: center;
    margin-top: 0.5rem;
    outline: none;
    border: none;
}
#carts{
    background: rgb(238, 166, 12);
    color: white;
}
#carts:active{
    background: white;
    color: rgb(238, 166, 12);
}
#buy{
    background: rgb(167, 179, 5);
    color: white;
}
#buy:active{
    background: white;
    color:rgb(167, 179, 5);
}



#cart-container{
    display: none;
    margin-top: 5rem;
}
#cart-title{
    font-size: 3.5rem;
    text-align: center;
    font-family: sans-serif;
    color: rgb(146, 78, 78);
}
#empty-cart{
    display: none;
    margin-top: 4rem;
    text-align: center;
    font-size: larger;
}

#cart-with-items{
    display: none;
    margin-top: 1rem;
}

.cart-column{
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(5,1fr);
}
.cart-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 0.4rem;
    position: relative;
    padding:0.5rem 1rem;
    background: white;
}
.list-name,.pay,.quantity,#remove{
    padding: 1.2rem 0.2rem;
}
#list-img{
    width: 5rem;
    height: 5rem;
}
#total{
    display: none;
    position: relative;
    margin-top: 3rem;
    right: 1rem;
    float: right;background: rgb(172, 191, 246);
    font-family: monospace;
    font-size: larger;
    padding: 1rem;
    color: rgb(149, 51, 34);
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
}
#you-saved{
    color: rgb(101, 99, 102);
}
